{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
    <title>Bibliotheque</title>
    <link rel="stylesheet" href="../static/css/accueil.css">
    <link rel="stylesheet" href="../static/css/bibliotheque.css">
    <script src="../static/js/load-more.js" defer></script>
    <script src="../static/js/like.js" defer></script>
{% endblock %}

{% block content %}
    <div class="first-div">
        <h1>Bibliotheque</h1>
        <div class="all-product normal-div">
           {{ macros.render_product(pubs, user) }}
        </div>
    </div>
    <div class="normal-div">
        <div class="publi-actions">
            <button id="load-more" class="btn-rounded">Voir plus</button>
            <span>
                <span id="publi-count"></span>
                <span id="publi-total"></span>
            </span>
        </div>
    </div>
{% endblock %}